@tailwind base;
@tailwind components;
@tailwind utilities;


body {
   font-family: 'Lato', sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
   display: none ;
}

.sidebar-slide-in {
   animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
   0% {
      transform: translateX(-100%);
   }
}